* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #0f172a;
  color: #ffffff;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  padding: 30px 0;
  display: fixed;
  top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  font-size: 24px;
}

.auth-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.auth-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.btn-reg {
  border: 1px solid #ffffff;
  padding: 8px 20px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-reg:hover {
  background: #ffffff;
  color: #0f172a !important;
}

.hero {
  padding: 40px 0 60px 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero-text h1 {
  font-size: 3.8rem;
  line-height: 1.1;
  margin-bottom: 25px;
  font-weight: 800;
}

.hero-text .hero-sub-text {
  font-size: 1.4rem;
  color: #94a3b8;
  margin-bottom: 30px;
}

.description {
  color: #64748b;
  font-size: 1rem;
  max-width: 450px;
}
.hero-visual {
  background-color: #1e293b;
  border-radius: 20px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  padding-bottom: 50px;
}

.feature-card {
  background-color: #1a2738;
  padding: 40px 20px;
  text-align: center;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.feature-card i {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.feature-card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
  }
  .features {
    grid-template-columns: 1fr;
  }
  .hero-text h1 {
    font-size: 2.5rem;
  }
}
