* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}

body {
  background: hsla(139, 78%, 16%, 0.301);;
  min-height: 100vh;
}

