* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}

body {
  background: hsla(139, 78%, 16%, 0.301);;
  min-height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  text-align: center;
  padding: 40px;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #f1f2f7;
}
h3 {
  margin-top: 10px;
  color: #7fc0de;
}
.cards {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 50vh;
}

.card {
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
