* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
}

body {
  background: #1a2f44;
  min-height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 20px;
  text-align: center;
  padding: 40px;
}

h1 {
  margin-bottom: 30px;
  color: #f7f1f1;
}
.cards {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 50vh;
}

.card {
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.recentSubmit {
  grid-column: 2 / 5;
  background-color: #28ad0a;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
}
.journal {
  background-color: #bc1010;
  min-height: 180px;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .cards {
    grid-column: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recentSubmit {
    grid-column: 1;
  }
}

.card:hover {
  background: #007bff;
  color: #fff;
}

.logout {
  background: #dc3545;
  color: #fff;
}

.logout:hover {
  background: #b52a37;
}
