* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: hsla(240, 2%, 88%, 0.878);
  min-height: 100vh;
}

.review-container {
  max-width: 800px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.message {
  text-align: center;
  margin-bottom: 15px;
  color: green;
}

